@model IEnumerable<poligono.Models.Posizioni>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="http://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="http://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lon)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lon)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
<div id="mapid"></div>
<style>#mapid { height: 1080px; }</style>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script>
    var mymap = L.map('mapid').setView([51.505, -0.09], 13);
    //var OsmLayer = new OpenLayers.Map("Mappa");
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    accessToken: 'pk.eyJ1Ijoia2lyb2xvc21hdGVyIiwiYSI6ImNqdzNxMXdtZzE5d2MzeXBndGd4YTh3dGMifQ.YW8rFAPQyZYz0ylkcqsk-g'
    }).addTo(mymap);
    var polygon = L.polygon([
    [51.509, -0.08],
    [51.503, -0.06],
    [51.51, -0.047]
]).addTo(mymap);
</script>
@*<div id="Mappa"></div>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript">
    //alert("sono visibile");
    Mappa = new OpenLayers.Map("Mappa");
    Mappa.addLayer(new OpenLayers.Layer.OSM());

    // Creo l'oggetto contenente le coordinate (prima longitudine e poi latitudine)
    var LonLat = new OpenLayers.LonLat(12.492347, 41.890183)
        .transform(
            new OpenLayers.Projection("EPSG:4326"), // Transformazione da WGS 1984..
            Mappa.getProjectionObject() // .. a Spherical Mercator Projection
        );

    // Imposto lo zoom
    var zoom = 16;

    // Creo una variabile contenete il layer dei marker poi collego il layer dei markers alla mappa
    var LayerMarkers = new OpenLayers.Layer.Markers("Markers");
    Mappa.addLayer(LayerMarkers);

    // Aggiungo al layer dei marker un marker (utilizzando l'oggetto lonLat per le coordinate)
    LayerMarkers.addMarker(new OpenLayers.Marker(LonLat));
    

    // Imposto le coordinate di lonLat come centro della mappa di partenza
    Mappa.setCenter(LonLat, zoom);
</script>
<style>
    #Mappa {
        width: 1000px;
        height: 1000px;
    }
</style>*@
